/* Global classes */

.title-text{
  font:normal bold 2.5rem/3.5rem var(--roboto);

}

.text-upercase{
  text-transform: uppercase;
}

/* buttons */
.button{
  padding:.8rem 2.2rem;
  font: normal 500 1.2rem/3rem var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 40px;
}

.button-small{
  padding:.4rem 1.1rem;
  font: normal 500 1rem/2rem var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 40px;
}

.button-small::after{
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: '';
  z-index: -1;
  border-radius: 40px;
}

.primary-button{
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: all 0.6s ease;
  box-shadow: var(--box-shadow);
}

.primary-button:hover{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

button.primary-button::after{
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: '';
  z-index: -1;
  border-radius: 40px;
}

.button.secondary-button{
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
  transition: all 0.6s ease;
  box-shadow: var(--box-shadow);
}

.button.secondary-button:hover{
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
}

.button.secondary-button::after{
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: '';
  z-index: -1;
  border-radius: 40px;
}

p.para {
  color: var(--text-color);
  font: normal 500 1rem/1.5rem var(--roboto);
}

.font-roboto{
  font-family: var(--roboto);
}



